In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', 500)
pd.set_option('display.show_dimensions', True)
%matplotlib inline
plt.style.use('fivethirtyeight')

# Visitor Access Records

As part of President Obama's commitment to government transparency, we are providing records of White House visitors on an ongoing basis online. In December 2009 we began posting all White House visitor records for the period from September 15th onwards under the terms of our voluntary disclosure policy. In addition, as part of our new policy, we post records dating from January 20th that are specifically requested on an ongoing basis. For more information, read the White House blog post announcing the new policy.

In [2]:
# Load in the data set
whitehouse = pd.read_csv('/home/yungshun/workspace/py/sklearn-ml-feature-understanding/datasets/whitehouse_waves-2016_12.csv', encoding="ISO-8859-1")

In [3]:
# View the first few rows and the headers
whitehouse.head(2)

,NAMELAST,NAMEFIRST,NAMEMID,UIN,BDGNBR,ACCESS_TYPE,TOA,POA,TOD,POD,...,TERMINAL_SUFFIX,visitee_namelast,visitee_namefirst,MEETING_LOC,MEETING_ROOM,CALLER_NAME_LAST,CALLER_NAME_FIRST,CALLER_ROOM,DESCRIPTION,Release_Date
0,TAJOURIBESSASSI,HANENE,NaN,U22101,NaN,VA,NaN,NaN,NaN,NaN,...,AR,Pelofsky,Eric,OEOB,226,ROWBERRY,ARIANA,NaN,NaN,1/29/2016
1,bageant,laura,j,U30528,NaN,VA,NaN,NaN,NaN,NaN,...,WW,Baskerville,Steven,WH,WH Grounds,WARDEN,WILLIAM,NaN,NaN,1/29/2016

In [4]:
# Get a sense of how many rows of data there are, if there are any missing values, and what data type each column has
whitehouse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970504 entries, 0 to 970503
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   NAMELAST           970494 non-null  object
 1   NAMEFIRST          970497 non-null  object
 2   NAMEMID            778796 non-null  object
 3   UIN                966303 non-null  object
 4   BDGNBR             274058 non-null  float64
 5   ACCESS_TYPE        966273 non-null  object
 6   TOA                274052 non-null  object
 7   POA                274043 non-null  object
 8   TOD                162480 non-null  object
 9   POD                94507 non-null   object
 10  APPT_MADE_DATE     966282 non-null  object
 11  APPT_START_DATE    970504 non-null  object
 12  APPT_END_DATE      970504 non-null  object
 13  APPT_CANCEL_DATE   18868 non-null   object
 14  Total_People       966273 non-null  float64
 15  LAST_UPDATEDBY     965309 non-null  object
 16  POST               966273 non-null  object
 17  LASTENTRYDATE      966273 non-null  object
 18  TERMINAL_SUFFIX    965309 non-null  object
 19  visitee_namelast   911249 non-null  object
 20  visitee_namefirst  963723 non-null  object
 21  MEETING_LOC        967873 non-null  object
 22  MEETING_ROOM       966272 non-null  object
 23  CALLER_NAME_LAST   966273 non-null  object
 24  CALLER_NAME_FIRST  966273 non-null  object
 25  CALLER_ROOM        0 non-null       float64
 26  DESCRIPTION        609585 non-null  object
 27  Release_Date       970504 non-null  object
dtypes: float64(3), object(25)
memory usage: 207.3+ MB

In [5]:
# Another method to check for missing values
whitehouse.isnull().sum()

NAMELAST                 10
NAMEFIRST                 7
NAMEMID              191708
UIN                    4201
BDGNBR               696446
ACCESS_TYPE            4231
TOA                  696452
POA                  696461
TOD                  808024
POD                  875997
APPT_MADE_DATE         4222
APPT_START_DATE           0
APPT_END_DATE             0
APPT_CANCEL_DATE     951636
Total_People           4231
LAST_UPDATEDBY         5195
POST                   4231
LASTENTRYDATE          4231
TERMINAL_SUFFIX        5195
visitee_namelast      59255
visitee_namefirst      6781
MEETING_LOC            2631
MEETING_ROOM           4232
CALLER_NAME_LAST       4231
CALLER_NAME_FIRST      4231
CALLER_ROOM          970504
DESCRIPTION          360919
Release_Date              0
Length: 28, dtype: int64

In [6]:
# Show descriptive stats
whitehouse.describe()

             BDGNBR   Total_People  CALLER_ROOM
count  2.740580e+05  966273.000000          0.0
mean   9.148413e+04     234.112345          NaN
std    2.224893e+06     774.324373          NaN
min    0.000000e+00       0.000000          NaN
25%    0.000000e+00       5.000000          NaN
50%    1.040700e+05      24.000000          NaN
75%    1.142870e+05     248.000000          NaN
max    4.977812e+08    5676.000000          NaN

[8 rows x 3 columns]

In [7]:
# Here we will remove the columns that contain those missing values for now
whitehouse.dropna(axis=1, inplace=True)

In [8]:
# View the first few rows and the headers again after removing columns
whitehouse.head(2)

  APPT_START_DATE    APPT_END_DATE Release_Date
0  10/1/2015 3:00  10/1/2015 23:59    1/29/2016
1  10/1/2015 5:00  9/30/2016 23:59    1/29/2016

[2 rows x 3 columns]

### Qualitative data

In [9]:
# Convert APPT_START_DATE and APPT_END_DATE to datetime
whitehouse['APPT_START_DATE'] = pd.to_datetime(whitehouse['APPT_START_DATE'])
whitehouse['APPT_END_DATE'] = pd.to_datetime(whitehouse['APPT_END_DATE'])

In [10]:
# Create a new column, APPT_DURATION 
whitehouse['APPT_DURATION'] = whitehouse['APPT_END_DATE'] - whitehouse['APPT_START_DATE']

In [11]:
np.mean(whitehouse['APPT_DURATION'])

Timedelta('1 days 03:46:03.909412016')